*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font: 400 14px/1.86 "PT Sans", Arial, Helvetica, sans-serif;
  color: #333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  min-width: 768px;

  margin: 0 auto;

  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;
  
  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*списки*/
.site-navigation__list li {
  list-style: none outside;
}

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  width: 100%;
  height: 56px;

  margin: 0;
  padding: 0;
}

  .site-navigation__list li {
    width: 20%;
  }

  .site-navigation__list li:nth-child(1) {
    margin-left: 6%;
  }

  .site-navigation__list li:nth-child(2) {
    margin-right: 66px;
  }

  .site-navigation__list li:nth-child(3),
  .site-navigation__list li:nth-child(4) {
    text-align: right;
    margin-right: 0;
  }

  .site-navigation__list li:nth-child(4) {
    margin-right: 6%;
  }

  .site-navigation__list a {
    text-decoration: none;
    font: 700 14px/1.86 "PT Sans", Arial, Helvetica, sans-serif;
    color: #000;
  }

/*конец шапки*/

.intro-text {
  width: 576px;
  text-align: center;

  margin: 0 auto;
}

.intro-text > b {
  font: 700 21px/1.86 "PT Sans", Arial, Helvetica, sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

.intro-text h2 {
  font: inherit;
}

.block-size__l {
  display: flex;
  max-width: 1200px;
  min-width: 768px;
}

  .promo-text__l {
    width: 33%;
    background-color: #81b3d2;

    color: #fff;
  }

    .promo-text__wrapper {
      max-width: 76.3%;
      margin: 0 auto;

      text-align: center;
    }

    h3 {
      margin: 0;
    }

    .promo-text__description {
      margin: 0;
    }

  .advantage-img__wrapper {
    display: flex;
    align-items: center;
    width: 67%;
    height: 256px;

    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
  }

    