*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font: 400 14px/1.5 "PT Sans", Arial, Helvetica, sans-serif;
  color: #333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.container {
  position: relative;

  max-width: 1200px;
  min-width: 768px;

  margin: 0 auto;

  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;
  
  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*списки*/
.site-navigation__list li,
.small-advantages-list li {
  list-style: none outside;
}

/* Меню в шапке */
.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;

  width: 100%;
  
  margin: 0;
  padding: 0 6%;
}

  .site-navigation__list .left-column,
  .site-navigation__list .right-column {
    width: 50%;
  }

  .site-navigation__list ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    margin: 0;
    padding: 0;
  }

    .left-column li,
    .right-column li {
      width: 45.6%;

      padding: 14px 0 16px;
    }

  .right-column ul {
    justify-content: flex-end;
  }

  .right-column li {
    text-align: right;
  }

  .right-column li:nth-child(odd) {
    padding-right: 2px;
  }

  /* .site-navigation__list li {
    width: 20%;
    padding-bottom: 10px;
  }

  .site-navigation__list li:nth-child(1) {
    margin-left: 6%;
  }

  .site-navigation__list li:nth-child(2) {
    margin-right: 66px;
  }

  .site-navigation__list li:nth-child(3),
  .site-navigation__list li:nth-child(4) {
    text-align: right;
    margin-right: 0;
  }

  .site-navigation__list li:nth-child(4) {
    margin-right: 6%;
  } */

  .site-navigation__list a {
    text-decoration: none;
    font: 700 14px/1.86 "PT Sans", Arial, Helvetica, sans-serif;
    color: #000;
  }

    .site-navigation__list a:hover,
    .site-navigation__list a:focus {
      color: #81b3d2;
      outline: none;
    }

    .site-navigation__list a:active {
      color: rgba(0, 0, 0, 0.3);
    }

    .site-navigation__list a.is-active {
      color: #766357;
    }

/* Лого */
.main-navigation-header {
  position: relative;
}

  .main-logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;

    transform: translateX(-50%);
  }

  .logo-header-img {
    width: 100%;
    height: auto;
  }

/* Фото */
.main-intro__wrapper {
  width: 100%;
  height: 509px;

  position: relative;
  overflow: hidden;
}

.main-intro {
  width: 100%;
  height: 508px;

  overflow: hidden;
  margin: 0;
}

  .main-intro img {
    margin-top: -56px;
  }

  .main-intro__wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 57px;

    background: url(../img/white-shape.png) center no-repeat;
    background-size: 1200px 57px;
  }

  .main-intro__wrapper::before {
    content: "";
    position: absolute;
    top: 49.5%;
    left: 50%;

    width: 458px;
    height: 352px;

    transform: translate(-50%,-50%);

    background: url(../img/welcome.png) center no-repeat;
  }

/*конец шапки*/

.intro-text {
  width: 576px;
  text-align: center;

  margin: 60px auto 43px;
}

.intro-text > b {
  font: 700 21px/1.2 "PT Sans", Arial, Helvetica, sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin: 0px auto 20px;
}

.intro-text h2 {
  font: inherit;
  line-height: 1.86;

  margin: 0;
  padding: 8px 0 8px;
}


/*Оформление большого блока*/
.block-size__l {
  display: flex;
  justify-content: space-between;
}

  .promo-text__l {
    width: 34%;
    background-color: #81b3d2;

    color: #fff;
  }

    .promo-text__wrapper {
      max-width: 76%;
      margin: 47px auto 59px;

      text-align: center;
    }

    h3 {
      display: block;
      font: 700 21px/1 "PT Sans", Arial, Helvetica, sans-serif;
      text-align: center;

      width: 151px;

      margin: 0 auto;
      padding-bottom: 24px;
    }

    .promo-text__description {
      padding-top: 21px;
      margin: 0;
    }

  .img-size__l__wrapper {
    position: relative;

    width: 68%;
    height: auto;

    overflow: hidden;
  }

    .img-size__l {
      position: absolute;
      top: 48%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
   
    
    

/*Оформление маленького списка*/
.small-advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;

  margin: 58px 0 82px;
  padding: 0;
}

  .small-advantages-list li {
    width: 33.33%;
  }

    .small-advantage {
      position: relative;
      max-width: 285px;
      margin: 104px auto 0;
    }

    .small-advantages-list h3 {
      display: block;

      font: 700 21px/1 "PT Sans", Arial, Helvetica, sans-serif;
      text-align: center;
      
      padding-bottom: 23px;
      margin: 0 auto;
    }

    .small-advantages-list p {
      margin: 0;
      text-align: center;
    }

  .small-advantage::before {
    content: "";
    position: absolute;
  }

  .small-advantage.home::before {
    width: 75px;
    height: 72px;

    top: -102px;
    left: 105px;

    background: url(../img/icon-1.svg) center no-repeat;
  }

  .small-advantage.food::before {
    width: 74px;
    height: 70px;

    top: -102px;
    left: 104px;

    background: url(../img/icon-3.svg) center no-repeat;
  }

  .small-advantage.souvenir::before {
    width: 64px;
    height: 76px;

    top: -106px;
    left: 110px;

    background: url(../img/icon-2.svg) center no-repeat;
  }

/* Оформление маленьких блоков */
.block-size__s__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  max-width: 1200px;
  min-width: 768px;
  height: auto;

  background-color: #eee;
}

  .block-size__s {
    width: 33.3%;
  }

  .block-size__s .promo-text__description {
    max-width: 90%;
    margin: 0 auto;
  }

  /* Поиск гостиницы */
.hotels-promo__wrapper {
  width: 450px;
  margin: 50px auto 33px;
  
}

.hotels .promo-text {
  font: 700 30px/1.2 "PT Sans", Arial, Helvetica, sans-serif;
  text-align: center;

  margin: 0;
  padding-bottom: 26px;
}

.hotels .promo-text__description {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;

  margin: 0;
  padding: 0;
  padding-bottom: 14px;
}

.hotels-search-button {
  display: block;
  
  width: 568px;
  min-height: 86px;

  margin: 0 auto;

  background-color: #766357;

  font: 700 21px/1.2 "PT Sans", Arial, Helvetica, sans-serif;
  line-height: 86px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

  .hotels-search-button:hover,
  .hotels-search-button:focus {
    background-color: #604e43;
    outline: none;
  }

  .hotels-search-button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
  }

/* Карта */
.map__wrapper {
  position: relative;

  width: 100%;
  height: 593px;

  overflow: hidden;
}

.map-img {
  position: absolute;

  top: -154px;
  left: -40px;

  z-index: -1;
}

/* Футер */
.footer__wrapper {
  position: absolute;

  bottom: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  width: 100%;
  min-height: 120px;

  background-color: rgba(255, 255, 255, 0.9);
}

  .heshteg {
    font: 700 21px/1.2 "PT Sans", Arial, Helvetica, sans-serif;
    color: #000;
    text-align: center;

    width: 33.3%;
    margin: 0 auto;
    margin-top: -4px;
  }

  .social {
    display: flex;
    justify-content: center;
    align-content: center;

    width: 33.33%;
    margin: 0 auto;
    padding: 0;
  }

    .social li {
      position: relative;
      width: 46px;
      
      list-style: none outside;

      margin-right: 6px;
      padding: 0;
    }

    .social li:first-child {
      margin-left: 5px;
    }

    .social a {
      display: inline-block;
      vertical-align: middle;

      position: relative;

      width: 46px;
      height: 48px;

      background-color: #81b3d2;
    }

      .social a:hover,
      .social a:focus {
        background-color: #669ec0;
        outline: none;
      }

      .social a:active {
        background-color: #5496bd;
      }

      .social-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        fill: #fff;
      }

      .social-link:active .social-img {
        fill: #88b6d1;
      }

    .social img {
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  .copyright {
    display: flex;
    justify-content: center;
    width: 33.33%;

    margin: 0 auto;
  }

    .copyright span {
      font: 400 14px/1.86 "PT Sans", Arial, Helvetica, sans-serif;
      margin: 0;
      margin-top: 13px;
      margin-right: 10px;
      padding: 0;
    }

    .logo-academy-img {
      width: 115px;
      height: 46px;
      fill: #000;

      margin-top: 3px;
    }

    .academy-link:hover .logo-academy-img,
    .academy-link:focus .logo-academy-img {
      fill: #81b3d2;
    }

    .academy-link:active .logo-academy-img {
      fill: #bdbbbc;
    }

    /* Страница отелей */
.filters-lists {
  display: flex;
  justify-content: space-between;

  width: 100%;
  min-height: 217px;

  padding: 27px 6%;

  background: url(../img/filter-background.jpg) no-repeat;
  background-size: 1200px 562px;
  background-position: 0 -55px;

  font: 400 14px/1.5 "PT Sans", Arial, Helvetica, sans-serif;
  color: #fff;
}

.check-box__wrapper {
  display: flex;
  flex-wrap: wrap;

  width: 528px;
}

  fieldset {
    padding: 0;
    margin: 0;
    border: none;
  } 

  .filter-infrastructure,
  .filter-accommodation {
    width: 210px;

    margin-right: 45px;
  }

    .filter-name {
      padding-bottom: 26px;
      font: 700 16px/1.3 "PT Sans", Arial, Helvetica, sans-serif;
    }

  .filter-list {
    margin: 0;
    padding: 0;
  }

    .filter-list li {
      padding: 0;
      padding-bottom: 25px;
      list-style: none outside;
    }

    .filter-list li:last-child {
      padding: 0;
    }

/* слайдер с ценой */
.filter-price {
  width: 319px;
}

  .filter-price legend {
    padding: 0 0 11px 3px;
  }

.price-slider-data__wrapper {
  display: block;
  position: relative;

  width: 319px;
  height: 36px;

  margin-bottom: 20px;

  border: 2px solid #fff;
  border-radius: 2px;
}

  .price-slider-data__wrapper::before {
    content: "";
    position: absolute;

    top: 5px;
    left: 50%;

    width: 2px;
    height: 22px;

    background-color: #fff;
  }

  .price-slider-data {
    display: inline-block;
    vertical-align: middle;

    width: 160px;
    text-align: center;

    line-height: 33px;
  }

  .price-slider {
    position: relative;

    width: 317px;
    height: 2px;

    margin: 0 0 32px 2px;

    background-color: rgba(255, 255, 255, 0.3);
  }

  .price-slider-data-to {
    width: 151px;
  }

    .price-slider-bar {
      position: absolute;

      width: 252px;
      height: 2px;

      background-color: #fff;
    }

    .price-slider-button {
      position: absolute;

      top: -9px;

      width: 20px;
      height: 23px;

      font-size: 0;

      background: url(../img/filter-button.svg) center/20px 23px no-repeat;
      cursor: pointer;
    }

    .price-slider-button-to {
      left: 252px;
    }

      .price-slider-button:hover {
        width: 22px;
        height: 25px;

        background-size: 22px 25px;
      }

      .filter-button {
        display: block;

        min-width: 137px;
        height: 36px;

        padding: 0;
        margin: 0 auto;

        color: #fff;
        text-align: center;
        line-height: 32px;
        text-transform: uppercase;

        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 2px;

        transform: translateX(-4%);
        cursor: pointer;
      }

        .filter-button:hover,
        .filter-button:focus {
          background-color: #fff;
          outline: none;

          color: #000;
        }

        .filter-button:active {
          color: rgba(0, 0, 0, 0.3);
        }

/* стили для чекбоксов */
.filter-list label {
  position: relative;
  cursor: pointer;

  padding-left: 39px;
}

.filter-list input {
  position: absolute;
  opacity: 0;
}

  .filter-list input + label::before {
    content: "";
    display: block;

    position: absolute;
    top: -5px;
    left: 0;

    width: 27px;
    height: 25px;
  }

    .filter-list input + label::before {
      background: url("../img/checkbox-off.svg") bottom left/23px 23px no-repeat;
    }

    .filter-list input:checked + label::before,
    .filter-list input:active:not(:disabled) + label::before {
      background: url("../img/checkbox-on.svg") bottom left/27px 23px no-repeat;
    }

    .filter-list input:checked:active:not(:disabled) + label::before {
      background: url("../img/checkbox-off.svg") bottom left/23px 23px no-repeat;
  }

    .filter-list input:disabled + label::before,
    .filter-list input:checked:disabled + label::before {
      opacity: 0.3;
      pointer-events: none;
      cursor: default;
    }

/* Сортировка */
.sorting-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  width: 1200px;

  margin: 35px 0;
  padding: 0 6%;
}

  .count-of-result {
    margin: 0;
    margin-right: 47px;

    font: 700 21px/0.8 "PT Sans", Arial, Helvetica, sans-serif;
  }

  .sorting {
    margin: 0;
    margin-right: 40px;
    padding: 0;

    font: 400 12px/0.67 "PT Sans", Arial, Helvetica, sans-serif;
  }

  .sorting-links {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    margin: 0;
    padding: 0;
  }

    .sorting-links li {
      padding: 0;
      margin: 0;
      margin-right: 33px;

      list-style: none outside;
    }

      .sorting-links a {
        text-decoration: underline dotted #81b3d2;
        color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
      }

      .sorting-links a:hover,
      .sorting-links a:focus {
        outline: none;
        color: #81b3d2;
      }

      .sorting-links a:active {
        text-decoration: none;
        color: #000;
      }

      .sorting-links a.is-active {
        text-decoration: none;
        color: #81b3d2;
        cursor: default;
      }

  .sorting-pointers {
    margin: 0;
    margin-left: auto;
    padding: 0;

    width: 35px;

    font-size: 0;
    line-height: 0;
  }

    .sorting-pointers {
      margin: 0;
      padding: 0;

      list-style: none outside;
    }

/* Список отелей */
.hotels-list {
  margin: 0;
  padding: 0;
}

.hotel-item {
  display: flex;
  align-items: flex-start;

  width: 100%;

  padding: 0;
  padding: 0 72px;
  margin: 59px 0 30px;

  position: relative;

  list-style: none outside;
}

  .hotel-item::before {
    content: "";
    position: absolute;

    top: -29px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #eee;
  }

  .hotels-list li:last-of-type::after {
    content: "";
    position: absolute;

    bottom: -31px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #eee;
  }

    .hotel-item img {
      width: 135px;
      margin-right: 30px;
      margin-top: 2px;
    }

    .hotel-info__wrapper {
      min-width: 360px;
      max-width: 654px;
    }

    .hotel-item h3 {
      padding: 0;
      margin: 0;
      margin-bottom: 9px;

      width: 100%;
      text-align: left;
    }

    .hotel-name {
      font: 700 21px/0.8 "PT Sans", Arial, Helvetica, sans-serif;
      color: #000;

      width: 100%;

      padding-bottom: 10px;
      text-decoration: none;
    }

      .hotel-name:hover,
      .hotel-name:focus {
        color: #81b3d2;
        outline: none;
      }

      .hotel-name:active {
        color: rgba(0, 0, 0, 0.3);
      }

    .hotel-description__wrapper {
      display: flex;
      width: 180px;

      padding-bottom: 14px;
    }

      .hotel-price {
        margin-left: auto;
      }

    .action-buttons {
      width: 100%;
    }

    .hotels-button {
      display: inline-block;
      vertical-align: middle;

      min-width: 110px;
      height: 27px;

      padding: 0 17px;
      margin-right: 2px;

      color: #fff;
      font-weight: 700;
      line-height: 27px;

      text-decoration: none;
    }

    .more-button {
      background-color: #81b3d2;
    }

    .more-button:hover,
    .more-button:focus {
      background-color: #669ec0;
      outline: none;
    }

    .more-button:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5496bd;
    }

    .booking-button {
      min-width: 142px;
      background-color: #766357;
    }

    .booking-button:hover,
    .booking-button:focus {
      background-color: #604e43;
      outline: none;
    }

    .booking-button:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #503e33;
    }

  .rating {
    position: relative;

    width: 240px;

    padding: 0;
    margin: 0;
    margin-left: auto;

    text-align: right;
  }

    .rating p {
      width: 110px;

      margin: 0;
      margin-top: 65px;
      margin-left: auto;

      background-color: #f2f2f2;
      line-height: 27px;
      text-align: center;
    }

    .rating::before {
      content: "";
      position: absolute;

      width: 89px;
      height: 17px;

      top: 1px;
      right: 1px;

      background: url(../img/star.svg) left center space;
    }

    .rating-3::before {
      width: 65px;
    }

    .rating-2::before {
      width: 41px;
    }

/* футер */

.hotels-page .footer__wrapper {
  position: relative;
}

/* поп-ап */
.modal-window {
  display: none;
}

.modal-window__is-active {
  position: relative;
  display: block;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
  z-index: 3;

  width: 568px;
  height: 395px;

  margin: 0 auto;
  padding: 55px;

  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

  font: 700 14px/1.86 "PT Sans", Arial, Helvetica, sans-serif;
}

  .modal-wrapper form {
    display: flex;
    flex-wrap: wrap;  

    width: 100%;

    margin-bottom: 54px;
  }

.modal-window p {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  position: relative;

  width: 100%;

  margin: 0;
}

.modal-window input {
  width: 346px;
  height: 38px;

  margin-bottom: 29px;
  padding: 10px 14px;

  background-color: #f2f2f2;
  border: none;

  font: 700 14px/1.86 "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.calendar-button {
  position: absolute;
  top: 30%;
  right: 10px;
  transform: translateY(-50%);

  width: 21px;
  height: 22px;

  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

  .calendar {
    width: 21px;
    height: 22px;

    fill: #a9a9a9;
  }

  .calendar-button:hover,
  .calendar-button:focus {
    outline: none;
  }

  .calendar-button:hover .calendar,
  .calendar-button:focus .calendar {
    fill: #000;
    outline: none;
  }

  .calendar-button:active .calendar {
    fill: #81b3d2;
  }

.count-of-ppl {
  display: flex;
  align-items: center;

  width: 100%;
  margin-top: 1px;
}

  .count-of-ppl div {
    display: flex;
    align-items: center;
    
    width: 226px;
  }

  .count-of-ppl div:last-of-type {
    margin-left: auto;
    width: 180px;
  }

  .count-of-ppl input {
    width: 38px;
    padding: 0;
    margin: 0;

    line-height: 38px;
    text-align: center;
  }

  .control {
    position: relative;

    width: 38px;
    height: 38px;

    background-color: #f2f2f2;
    border: none;

    font-size: 0;
    cursor: pointer;
  }

  .control-down {
    margin-left: auto;
  }

    .control::before {
      content: "";
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      height: 2px;
      width: 10px;

      background-color: #a9a9a9;
    }

    .control-up::after {
      content: "";
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      height: 10px;
      width: 2px;

      background-color: #a9a9a9;
    }

    .control:hover::before,
    .control:focus::before,
    .control-up:hover::after,
    .control-up:focus::after {
      background-color: #000;
    }

    .control:active::before,
    .control-up:active::after {
      background-color: #81b3d2;
    }

  .send-button {
    width: 100%;
    min-height: 58px;

    line-height: 58px;
    background-color: #81b3d2;
  }

  .send-button:hover,
  .send-button:focus {
    background-color: #669ec0;
  }

  .send-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }